<style>
    #salu{
        font-size: 20px;
        color: #002db3;
    }
</style>
 

 <header>
    <div class="contenedor0">
        
        <a href="/">
            <i>
                <img src="gama.jpeg" alt="menu icon" id="unam2">
            </i>
        </a>
        <canvas id="myCanvas" width="20" height="100" style="border:1px solid white;">
            Your browser does not support the HTML canvas tag.</canvas>

            <div class="contenedor1">
                <p> <center><strong style="font-family:cambria;" id="salu">¡POR UN ENVEJECIMIENTO SALUDABLE!</strong></center></p>
            </div>
            <div class="contenedor-texto" style="width: 600px; margin-left: 20px;">
                <h1 class="titulo"><span class="typed"></span></h1>
            </div>  
           
            <a href="/">
                <i>
                    <img src="unam.jpg" alt="menu icon" id="unam" style="margin-right: 0px;">
                </i>
            </a>

    </div>
    
        <nav class="size0">
            <ul>
                <li id="ser0">
                        <a  href="/enfermera">
                            <i class="contene" >
                                <img src="nurse.svg" alt="menu icon" class="size1">
                            </i>
                            <p id="indi0" style="font-size: 20px;">Servicios Integrales de Enfermeria</p>
                        </a>
                </li>
    
                <li id="ser">
                    <a  href="/servicio">
                        <i class="contene">
                            <img src="servicio.svg" alt="menu icon" class="size1">
                        </i>
                        <p id="indi1">NUESTROS SERVICIOS</p>
                    </a>
                </li>
    
                <li id="ser1">
                    <a href="/tratame">
                        <i class="contene">
                            <img src="Tratamiento.png" alt="menu icon" class="size1">
                        </i>
                        <p id="indi2">TRATAMIENTOS INTEGRALES</p>
                    </a>
                </li>
    
            </ul>
        </nav>

  
 <header>
        