
 

 <header>
    <div class="contenedor0">
        
        <a href="/">
            <i>
                <img src="gama.jpeg" alt="menu icon" id="unam2">
            </i>
        </a>

       
      
        <canvas id="myCanvas" width="20" height="100" style="border:1px solid white;">
            Your browser does not support the HTML canvas tag.</canvas>

           
            <div class="contenedor1">
                <p> <center><strong>POR UN ENVEJECIMIENTO SALUDABLE</strong></center></p>
            </div>
            <div class="contenedor-texto">
                <h1 class="titulo"><span class="typed"></span></h1>
            </div>  
           
            <a href="/">
                <i>
                    <img src="unam.jpg" alt="menu icon" id="unam">
                </i>
            </a>

    
           
     </div>
    
        <nav class="size0">
            <ul>
                <li id="medi">
                        <a  href="/medicamentos">
                            <i class="contene" >
                                <img src="medicina.png" alt="menu icon" class="size1">
                            </i>
                            <p id="indi">MEDICAMENTOS</p>
                        </a>
                </li>
    
                <li id="ser">
                    <a  href="/servicio">
                        <i class="contene">
                            <img src="servicio.svg" alt="menu icon" class="size1">
                        </i>
                        <p id="indi1">SERVICIOS</p>
                    </a>
                </li>
    
                <li>
                    <a href="#">
                        <i class="contene">
                            <img src="Tratamiento.png" alt="menu icon" class="size1">
                        </i>
                        <p >TRATAMIENTOS</p>
                    </a>
                </li>
    
            </ul>
        </nav>

  
 <header>
        