

 <header>
    <div class="contenedor0">
        <a href="/">
            <i>
                <img src="UCC.jpg" alt="menu icon">
            </i>
        </a>
        
      
        <canvas id="myCanvas" width="20" height="100" style="border:1px solid white;">
            Your browser does not support the HTML canvas tag.</canvas>
            <div class="contenedor1">
                <p> <strong>Soluciones medicas para una vida plena.</strong></p>
            </div>

            <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            <script>
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.moveTo(0,0);
            ctx.lineTo(0,100);
            ctx.stroke();
            </script>
    </div>
    <nav class="size0">
        <ul>
            <li>
                    <a  href="/medicamentos">
                        <i class="contene">
                            <img src="medicina.png" alt="menu icon" class="size1">
                        </i>
                        <p >MEDICAMENTOS</p>
                    </a>
            </li>

            <li >
                <a  href="/servicio">
                    <i class="contene">
                        <img src="servicio.svg" alt="menu icon" class="size1">
                    </i>
                    <p >SERVICIOS</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="contene">
                        <img src="Tratamiento.png" alt="menu icon" class="size1">
                    </i>
                    <p >TRATAMIENTOS</p>
                </a>
            </li>

        </ul>
    </nav>
 <header>
        