<footer class="wrap-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-12 list-footer">
                <nav><!-- navbar-expand-lg -->
                    <ul>
                        <li>
                            <a href="/about">
                                ¿QUIÉNES SOMOS? 
                            </a>
                        </li>
                        
                        <li>
                            <a href="/ubicar">
                                DIRECCIÓN 
                            </a>
                        </li>

                        <li class="no-border-left">
                            <a href="/personal">
                                INFORMACIÓN DE CONTACTO
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 redes-sociales"> <!-- d-none d-md-block -->
                <h6>SÍGUENOS EN:</h6>
                <nav>
                    <ul>
                        <li> <a href="https://www.facebook.com" target="_blank">
                            <i class="fab fa-facebook-f" ></i></a></li>
                       
                    </ul>
                </nav>
            </div>
        </div>
       
    </div>
</footer>
