<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/cabecera.ejs') -%>
   
</head>

<body>
   
    <%- include('partials/navegar.ejs') -%>

      <h1>¿Quiénes somos?</h1>
      <h2>Somos una clínica comprometida con el bienestar de nuestros pacientes. 
        Brindando servicios médicos que obedecen a los avances científicos y tecnológicos del momento 
        y que han traído desarrollo a la medicina moderna.
      </h2>
       
    <%- include('partials/pies.ejs') -%>

</body>
</html>