<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfermeria</title>

    <style>
           li{
        margin-bottom: 15px;
        font-family:Cambria;
        font-size: 20px;
    }
    h1{
        color: #3d3d29;
        font-family: cambria;
    }
    .prin{
        margin-left: 20%;
    }
    #unam2{
        width: 200px;
        height: 100px;
        margin-left: 0%;
    }

    </style>
</head>

<body>
    <a href="/">
        <i>
            <img src="gama.jpeg" alt="menu icon" id="unam2">
        </i>
    </a>
    <div class="prin">
        <div>
            <h1 style="size: 40px;">ENFERMERA AUXILIAR</h1>
            <img src="enfermera.png">
        </div>
            <h1>Realiza procedimientos básicos de enfermería de acuerdo a las necesidades del paciente.</h1>
            <ul>
                <li><b>Aseo matinal:</b> Aseo de la cavidad bucal, dientes, encías y lengua, lavado de cabello y cortado de uñas.</li>
                <li><b>Asistencia de alimentos:</b> Desayuno, Comida, Cena y colaciones.</li>
                <li><b>Cambio de Ropa:</b> Cambio de la ropa que sea necesaria para el paciente y pañales las veces que sea necesario.</li>
                <li><b>Cambio ropa de cama:</b> Cambio de ropa limpia de cama bien sábana clínica.</li>
                <li><b>Prevención de escaras:</b> Se encarga de mantener la piel limpia, seca, lubricada, masaje percutorio y cambio de posición.</li>
                <li><b>Aseos:</b> regadera, esponja, en tina y artesa</li>
                <li><b>Asistencia en:</b> Andaderas, muletas, silla de ruedas, bastón, etcétera.</li>
                <li><b>Terapia:</b> Afectiva, ocupacional, de rehabilitación y recreación del paciente</li>
                <li>Informe diario del cuidado integral al paciente.</li>
                <li><b>Acompañamiento:</b> Al paciente a sus consultas médicas y salidas de recreación.</li>
                <li><b>Abministración de medicamentos:</b> Vía oral, subcutánea, intramuscular.</li>
                <li>Reactivos en sangre (destroxtix), orina (labstix).</li>
                <li>Curaciones de menor grado de complejidad.</li>
                <li>Mantener el área del paciente en óptimas condiciones.</li>
                <li>Preparación de colaciones básicas.</li>
              </ul>
       

    </div>

   
    
    
</body>
</html>