<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/cabecera.ejs') -%>
</head>

<body>
    <%- include('partials/navegar.ejs') -%>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="main.js"></script> 
    
    <section>
        <div class="centrado">
            <div id="slideshow-principal">
                <div id="progress-bar-container">
                    <div id="progress-bar"></div>
                </div>
                <div id="slideshow">
                   <a href="#"><img class="uno" src="" alt="" id="img1"></a> 
                   <a href="#"><img class="uno" src="" alt="" id="img2"></a> 
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div id="indicadores">
            </div>
           <script src="slide2.js"></script>
        </div>
    </section>

    <section class="grid">
        <div class="tres"> <a href="/servicio"><img class="dos" id="cuatro" src="stetoscopio.jpg"><div class="overlay"><h1> GIM Élite</h1></div></a> </div>
        <div class="tres"> <a href="/servicio">  <img class="dos" id="cinco" src="gedia.jpg"><div class="overlay"><h1 >Atención Integral al Adulto Mayor</h1></div>  </a> </div>
        <div class="tres"> <a href="/estetico">  <img class="dos" id="seis" src="flor2.jpg"><div class="overlay">  <h1>Tratamientos Esteticos</h1></div></a> </div>
        <div class="tres"> <a href="/diabetico">  <img class="dos" id="siete" src="diabetes1.jpg"><div class="overlay"><h1> Atención Integral al pie Diabetico</h1></div> </a> </div>
    </section>

    <%- include('partials/pies.ejs') -%>

</body>
</html>
