<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba uno</title>
    <link href="/estilacho.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/prueba1.css">
    <link rel="stylesheet" href="/bootstrap.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="icon" type="image/x-icon" href="/caduceo.jpg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   
</head>

<body>
   
    <%- include('partials/navegar.ejs') -%>

    <div class="w3-container w3-blue">
        <h1>INFORMACIÓN  DE CONTACTO  </h1> 
        
      </div>
      
      <div class="w3-row-padding">
        <div class="w3-third">
          <h2>Telefonos </h2>
          <p>Cel.229 154 6585</p>
         
        </div>
      
        <div class="w3-third">
          <h2>Horarios</h2>
          <p>de lunes a sabado de 9:00 hrs a las 20:00 hrs</p> 
          <p>El domingo de 9:00 hrs a las 16:00hrs</p>
        </div>
      
      </div>
       
    <%- include('partials/pies.ejs') -%>

</body>
</html>