<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/cabecera.ejs') -%>
    <style>
      #ser{
        background: rgb(235, 225, 225);
      }
      #indi1{
        color: black;
      }
    </style>
   
</head>

<body>
   
    <%- include('partials/navegar.ejs') -%>

    <h2>Servicios Brindados</h2>
        
    <table>
      <tr>
        <th>SERVICIOS</th>
      
      </tr>
      <tr>
        <td>Tratamientos anti-covid</td>
       
      </tr>
      <tr>
        <td>Diagnostico medico</td>
     
      </tr>
      <tr>
        <td>Medicina general</td>
      
      </tr>
      <tr>
        <td>Pie diabético</td>
       
      </tr>
      <tr>
        <td>Urgencias</td>
      
      </tr>
      <tr>
        <td>Electrocardiograma</td>
      
      </tr>
    </table>
       
    <%- include('partials/pies.ejs') -%>

</body>
</html>