<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/cabecera.ejs') -%>
  <style>
    #ser1{
      background: rgb(235, 225, 225);
    }
    #indi2{
      color: black;
    }
  </style>
   
</head>

<body>
   
    <%- include('partials/navegar.ejs') -%>
    
        <h2>TRATAMIENTOS</h2>
        
        <table>

          <tr>
            <th>TRATAMIENTOS</th>
          </tr>
          <tr>
            <td>Sueroterapia</td>
          </tr>
          <tr>
            <td>Retiro de Berrugas</td>
          </tr>
          <tr>
            <td>Extraccion de Lipomas</td>
          </tr>
          <tr>
            <td>Toma de Papanicolau</td>
          </tr>
          <tr>
            <td>Reactivamiento celular con CLR</td>
          </tr>

        </table>
        


    <%- include('partials/pies.ejs') -%>

</body>
</html>