<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/cabecera.ejs') -%>
   
</head>

<body>
   
    <%- include('partials/navegar.ejs') -%>

        <h2>Ubicación</h2>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100547.02376509224!2d-97.47727760600537!3d20.522571347570135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85da14cd806d0909%3A0x7bc6651769041d29!2sPoza%20Rica%20de%20Hidalgo%2C%20Ver.!5e0!3m2!1ses!2smx!4v1641675877579!5m2!1ses!2smx" width="400" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
       
    <%- include('partials/pies.ejs') -%>

</body>
</html>