<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/cabecera.ejs') -%>
   
</head>

<body>
   
    <%- include('partials/navegar.ejs') -%>
        <aside>
        <div style="width: 50px; ;height: 50px;">
            <h1>
                Calle 16 de septiembre #28 Casi esquina 2 de abril
                colonia centro Tihuatlan, Veracruz.
                Atencíon a domicilio 2291546585
                E-mail: DRA.VMABIL@gmail.com
            </h1>

        </div>
        </aside>

        <h2>Ubicación</h2>
        <div>
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1569.055374771607!2d-97.53626651059074!3d20.715761499435967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4450dc4a147fe4ff!2zMjDCsDQyJzU2LjgiTiA5N8KwMzInMDguNCJX!5e0!3m2!1ses!2smx!4v1652808991738!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
        </div>
       
    <%- include('partials/pies.ejs') -%>

</body>
</html>