<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/cabecera.ejs') -%>
   
</head>

<body>
   
    <%- include('partials/navegar.ejs') -%>

        <h2>Ubicación</h2>
        <div>
            <iframe src="https://www.google.com/maps/place/20%C2%B042'56.8%22N+97%C2%B032'08.4%22W/@20.7157805,-97.5378594,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x4450dc4a147fe4ff!8m2!3d20.7157805!4d-97.5356707?hl=es" width="400" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
       
    <%- include('partials/pies.ejs') -%>

</body>
</html>