#unam{
  width: 150px;
  height: 150px;
}
#unam2{
  width: 300px;
  height: 100px;
}

nav{
  background: rgb(77, 148, 255);
  margin-right: 0%;
  width: 100%;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.contene{
    display: flex;
    justify-content: center;
}


.size1{
    width: 50px;
    height: 50px;
}
.size0{
  display: block;
}

.contenedor0{
    display:flex;
    background: white;
    width: auto;
    margin-left: 0%;
    margin-right: 0%;
}
.contenedor1{
  width: 120px;
}
.titulo{
  width: 400px;
  padding-top: 10px;
  margin-left: 50px;
}
.search-container {
  margin-left: 20%;
    padding-top: 2%;
    /*border: 1px solid rgb(209, 89, 89);  */
    width: 100%;
    position: relative;
  }
.search-container .letras{
  position: absolute;
  float:right;
}
  input[type=text] {
   
  border: 1px solid rgb(41, 36, 36); 
  border-radius: 8px;
  width: 200px; 
}

  .search-container button {
    
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 0px;
    background: #ddd;
    font-size: 19px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
  }

  a{
      color: black;
  }

  a:link {text-decoration: none;}

  li,p:hover {
    
    color: black;
  }

/**/
#slideshow-principal{
  
margin-left: 10%;
margin-right: 0%;
  position: relative;
  overflow: hidden;
  width: 80%;
}

#progress-bar-container{
  position: absolute;
  height: 10px;
  background-color: rgba(0,0,0,.2);
  width: 100%;
  top: 0;
  z-index: 1000;
}

#progress-bar{
  height: 100%;
  background-color: rgba(28, 64, 226, 0.7);
  border-radius: 0 3px 3px 0;
  transition: width 1s;
}

#slideshow{
  position: relative;
  z-index: 998;
  height: 1000px;
}

.uno{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit:contain;
}
.dos{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit:contain;
}
#img2{
  left: 100%;
}

.active{
  right: 0 !important;
}

#indicadores{
  width: 100%;
  text-align: center;
 /* position: absolute;*/
  bottom: -35px;
  z-index: 999;
}

.circles{
  border: rgb(47, 91, 212) 2px solid;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 5px 0 5px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 999;
}

.resaltado{
  background-color: rgb(37, 117, 192);
  transition: background-color .8s;
}

.grid{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  gap: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 70%;
  height: 500px;
 
}

.grid div{
  position: relative;
  padding: 0%;
  margin-top: 0%;
  height: auto;
}

.grid div:hover{
  border: 1px solid rgb(63, 49, 49);
}

/**/
.centrado{
  background: #99c2ff;
}


.tres {
  position: relative;
  padding-top: 0%;
  margin-top: 0%;
}

#siete,#seis,#cinco,#cuatro{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit:contain;
  border: 2px solid #99c2ff;
  border-radius: 5px;
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.4); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 0px;
  text-align: center; 
  height:100%;
}
div.overlay{
  width: auto;
  height: 100%;
}
.tres:hover .overlay {
  opacity: 1;
}

div h1{
  margin-top: 0%;
  padding-top: 20%;
}

.next, .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #cce0ff;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1001;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/**/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



