<style>
    .cero{
        width: 100%;
        background-image: url('/neuro1.jpg');
        
    }
    .uno{  
        margin-left: 15vmax;
        margin-right: 20%;
    }
    .btn{
        background: #ffbb33;
        width: 30%;
        height: 10vmin;
        border-radius: 10px;
    }
    .dos{
        
        margin-left: 40vmax;
        margin-top: 40vmin;
    }
    .tres{
font-family: Cambria;
font-size: 22px;
    }
    .btn:hover{
        background: #c49d50;
    }
    .btn:hover a{
        color: antiquewhite;
    }
    .titulo{
        font-family: Cambria;
        font-size: 50px;
        color: #002966;
    }
    .separar{
        height: 100px;
        width: 10px;
    }
    .separar1{
         height: 200px;
        width: 10px;
    }
   
</style>


<div class="cero">
    <div class="separar"></div>
    <div class="uno"><h1 class="titulo" >Neurofisilogía Clínica </h1></div>
    <div class="dos"> <button class="btn"><a href="/signin" class="tres">Let's get started</a></button> </div>
    <div class="separar1"></div>
</div>