<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
     :root{--colortexto: rgb(73, 50, 158);}
    body{margin: 0%;}
h1{font-family: Calibri;color:var(--colortexto);}
.cero{display: grid;grid-template-columns: 7% 93%; grid-template-rows: auto;background: green;}
.dos{display: block; background: #ccccff;}
.uno{background: #4db8ff;}

.size1{width: 50%;padding: 25%;}
.size1:hover{border-radius: 50%;background: #e6e6ff;}
.tres{position: fixed;width: 100%;height: 60px;background: #cce6ff;border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1000; }

#cuatro{background: #d6f5f5;width: 80%;height: auto;margin-top: 10%; margin-left: 10%;
    margin-right: 10%;border-radius: 6px;margin-bottom: 30px;}

.sise .tooltiptext {
visibility: hidden;width:auto; background-color: #0099cc;color: rgb(27, 22, 22);
border-radius: 6px; padding: 1px 0;position: absolute;}

.sise:hover .tooltiptext {visibility: visible;}
.grupo{position: relative;margin: 5%;}
input{background: #d6f5f5;color: rgb(107, 72, 20); font-size: 18px; padding: 10px 10px 10px 10px;
 border: none;border-bottom: 1px solid var(--colortexto);}
input:focus{ outline: none; color:rgb(66, 27, 27);}
label{ color:var(--colortexto); font-size: 16px;position: absolute; left: 5px; top:12px;
  transition: 0.5s ease-in-out;pointer-events: none;font-family: calibri;}
input:focus~label,input:valid~label{
            top:-14px;font-size: 15px; color: blue;}
            
.barra{position: relative;display: block;width: 100%;}
.barra::before{content: "";height: 2px; width: 0%; bottom: 0;
            position: absolute;background: #3333cc; transition: 0.3s ease ; }
input:focus~.barra::before{width: 100%;}
.form{display: grid;grid-template-columns: 50% 50%;}

.btn {display: flex;width: 80%;height: 40px;background-color: #d6f5f5;
  border: none;color: white;font-size: 16px;cursor: pointer;border-radius: 16px;
  align-items: center;border: solid 1px black;}

.btn:hover { background-color: RoyalBlue;}

.btn1 {width: 25%;height: 40px;background-color: DodgerBlue;border: none;
  color: white;font-size: 16px;cursor: pointer; border-radius: 16px;margin-left: 5%;
  margin-bottom: 20px;text-align: center;justify-items: center;padding: 10px 15px;
}
.btn1:hover{background-color: rgb(64, 92, 119);}
   </style>
   
   <div class="cero">
        <div class="uno">
            <div style="width: 7%;height:auto;position: fixed;background: #4db8ff;">
                <a href="/profile" class="sise">
                    <img src="/home.svg" alt="menu icon" class="size1">
                        <span class="tooltiptext">Home</span>
                    </a>
                    <a href="#" class="sise">
                        <img src="/calendar.svg" alt="menu icon" class="size1">
                        <span class="tooltiptext">calendario</span>
                    </a>
                    <a href="/links" class="sise">
                        <img src="/id.svg" alt="menu icon" class="size1">
                        <span class="tooltiptext">pacientes</span>
                    </a>
                    <a href="#" class="sise">
                        <img src="/doctor-alt.svg" alt="menu icon" class="size1">
                        <span class="tooltiptext">Doctor</span>
                    </a>
                
            </div>
        </div>
      
        <div class="dos">
            <div class="tres" ><h1 style="margin-top: 1%; margin-left: 2%;">Pacientes</h1></div>
            <div id="cuatro">
                <form action="/links/add" method="post">
                <h1 style="margin-left: 35%;">Nuevo paciente</h1>
                
                 <div class="form">
                        <div class="grupo">
                            <input type="text" name="Nombre" id="name" ><span class="barra"></span>
                            <label for="">Nombre</label>
                        </div>
                        <div class="grupo">
                            <input type="text" name="Apellido" id="name" ><span class="barra"></span>
                            <label for="">Apellidos</label>
                        </div>
                             <div style="position: relative; display:grid; grid-template-columns: 1fr 1fr 1fr;align-items: center;">
                        <h1 for="cars" style="font-size: 15px; margin-left:20%">Genero:</h1>
                        <select id="cars" style="margin-left: -30%;" name="Sexo">
                          <option value="Hombre">Hombre</option>
                          <option value="Mujer">Mujer</option>
                          <option value="Homo">Homo</option>
                          <option value="nobinare">nobinare</option>
                        </select>
                        </div>

                        <div class="grupo">
                            <input type="text" name="Edad" id="name" value="dd/mm/yyyy" required><span class="barra"></span>
                            <label for="">Edad</label>
                        </div>

                            <div class="grupo">
                            <input type="text" name="Lugarorigen" id="name"><span class="barra"></span>
                            <label for="">Lugar de origen</label>
                        </div>

                        <div class="grupo">
                            <input type="text" name="Religión" id="name" ><span class="barra"></span>
                            <label for="">Religión</label>
                        </div>


                       

                           <div class="grupo">
                            <input type="text" name="Ocupación" id="name" ><span class="barra"></span>
                            <label for="">Ocupación</label>
                        </div>

                         


                        <div style="position: relative; display:grid; grid-template-columns: 1fr 1fr 1fr;align-items: center;">
                        <h1 for="cars" style="font-size: 15px;margin-left:20%">Estado civil:</h1>
                        <select id="cars" style="margin-left:-30%" name="EstadoCivil">
                          <option value="Soltero">Soltero</option>
                          <option value="Casado">Casado</option>
                          <option value="Casada">Casada</option>
                          <option value="Soltera">Soltera</option>
                          <option value="Union libre">Union libre</option>
                        </select>
                        </div>

                          <div style="position: relative; display:grid; grid-template-columns: 1fr 1fr 1fr;align-items: center;">
                        <h1 for="cars" style="font-size: 15px; margin-left:20%">Escolaridad:</h1>
                        <select id="cars" style="margin-left: -30%;" name="Escolaridad">
                          <option value="Primaria">Primaria</option>
                          <option value="Secundaria">Secundaria</option>
                          <option value="Bachillerato">Bachillerato</option>
                          <option value="Universidad">Universidad</option>
                        </select>
                        </div>

                        <div class="grupo">
                            <input type="text" name="Domicilio" id="name"><span class="barra"></span>
                            <label for="">Domicilio</label>
                        </div>
                          <div class="grupo">
                            <input type="text" name="Email" id="name"><span class="barra"></span>
                            <label for="">Correo</label>
                        </div>
                           <div class="grupo">
                            <input type="text" name="Tel" id="name"><span class="barra"></span>
                            <label for="">Teléfono</label>
                        </div>
                        <div class="grupo">
                            <input type="text" name="AcompañanteoResponsable" id="name" ><span class="barra"></span>
                            <label for="">Acompañante o responsable </label>
                        </div>
                         <div class="grupo">
                            <input type="text" name="Relación" id="name"><span class="barra"></span>
                            <label for="">Relación</label>
                        </div>
                           <div class="grupo">
                            <input type="text" name="Quiencanaliza" id="name"><span class="barra"></span>
                            <label for="">Quién lo canaliza </label>
                        </div>
                         <div class="grupo">
                            <input type="text" name="Fechaclínica" id="name"><span class="barra"></span>
                            <label for="">Fecha de elaboración de historia clínica </label>
                        </div>

                            <div style="position: relative; display:grid; grid-template-columns: 1fr 1fr 1fr;align-items: center;">
                        <h1 for="cars" style="font-size: 15px;">Tipo de interrogatorio:</h1>
                        <select id="cars" style="margin-left:-5%" name="Tipointerrogatorio">
                          <option value="Directo">Directo</option>
                          <option value="Indirecto">Indirecto</option>
                        </select>
                        </div>
                           <div style="margin-left: 5%;">
                            <h1 style="font-size: 15px;" >Motivo de la consulta o internamiento </h1>
                             <textarea id="w3review" name="Motivo" rows="6" cols="40" style="margin-bottom: 30px;"></textarea>
                        </div>
                          <button class="btn1">
                            <img src="/save.svg" alt="menu icon" style="width:20%;height: 100%;margin-left:-10%">
                               Guardar
                            </button>
                </div>
                
                </form>
                
            </div>
        </div>
    </div>
